:root {
  --dark-color-400: hsl(210, 11%, 15%);
  --light-color-100: hsl(0, 0%, 100%);
  --light-color-400: hsl(28, 100%, 92%);
  --primary-color-400: hsl(28, 100%, 58%);
  --primary-color-700: hsl(28, 100%, 49%);
  --secondary-color-400: hsl(222, 56%, 59%);
}

body {
  color: var(--dark-color-400);
  background-color: var(--primary-color-400);
}
