:root {
  --dark-color-400: hsl(210, 11%, 15%);
  --light-color-100: hsl(0, 0%, 100%);
  --light-color-400: hsl(28, 100%, 92%);
  --primary-color-400: hsl(28, 100%, 58%);
  --primary-color-700: hsl(28, 100%, 49%);
  --primary-color-900: hsl(28, 100%, 43%);
  --secondary-color-400: hsl(222, 56%, 59%);
}

body {
  margin: 0;
  color: var(--dark-color-400);
  background-color: var(--primary-color-400);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--secondary-color-400);
  padding: 2rem 1rem;
}

.header__title {
  margin: 0;
  font-weight: 500;
}

.header__nav-list {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.header__nav-item {
  font-size: 1.2rem;
}

.header__nav-item--accent {
  font-weight: 700;
}

.shoppin-list-navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-700);
  padding: 1.5rem 1rem;
  border-bottom: 2px solid var(--primary-color-900);
}

.shoppin-list-navbar__info {
  font-size: 2rem;
}

.shoppin-list-navbar__icon {
  font-size: 2.5rem;
}
